In [66]:
import pandas as pd

In [67]:
MAT_DIR = '../data/student-mat.csv'

In [68]:
mat_df = pd.read_csv(MAT_DIR, sep=';')

In [69]:
mat = mat_df[['address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'famsup', 'studytime', 'famrel', 'absences', 'internet', 'G1', 'G2', 'G3']]

In [70]:
mat

,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,U,GT3,A,4,4,at_home,teacher,no,2,4,6,no,5,6,6
1,U,GT3,T,1,1,at_home,other,yes,2,5,4,yes,5,5,6
2,U,LE3,T,1,1,at_home,other,no,2,4,10,yes,7,8,10
3,U,GT3,T,4,2,health,services,yes,3,3,2,yes,15,14,15
4,U,GT3,T,3,3,other,other,yes,2,4,4,no,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,U,LE3,A,2,2,services,services,yes,2,5,11,no,9,9,9
391,U,LE3,T,3,1,services,services,no,1,2,3,yes,14,16,16
392,R,GT3,T,1,1,other,other,no,1,5,3,no,10,8,7
393,R,LE3,T,3,2,services,other,no,1,4,0,yes,11,12,10
394,U,LE3,T,1,1,other,at_home,no,1,3,5,yes,8,9,9

In [83]:
mat = mat.replace("U", 0)
mat = mat.replace("R", 1)
mat = mat.replace("GT3", 0)
mat = mat.replace("LE3", 1)
mat = mat.replace("A", 0)
mat = mat.replace("T", 1)
mat = mat.replace("at_home", 0)
mat = mat.replace("health", 1)
mat = mat.replace("services", 2)
mat = mat.replace("teacher", 3)
mat = mat.replace("other", 4)
mat = mat.replace("no", 0)
mat = mat.replace("yes", 1)

In [84]:
mat

,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,0,0,0,4,4,0,3,0,2,4,6,0,5,6,6
1,0,0,1,1,1,0,4,1,2,5,4,1,5,5,6
2,0,1,1,1,1,0,4,0,2,4,10,1,7,8,10
3,0,0,1,4,2,1,2,1,3,3,2,1,15,14,15
4,0,0,1,3,3,4,4,1,2,4,4,0,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,0,2,2,2,2,1,2,5,11,0,9,9,9
391,0,1,1,3,1,2,2,0,1,2,3,1,14,16,16
392,1,0,1,1,1,4,4,0,1,5,3,0,10,8,7
393,1,1,1,3,2,2,4,0,1,4,0,1,11,12,10
394,0,1,1,1,1,4,0,0,1,3,5,1,8,9,9

Legenda:

- address: U = 0, R = 1;
- famsize: GT3 = 0, LE3 = 1;
- Pstatus: A = 0, T = 1;
- Medu: jÃ¡ estÃ¡ na forma numÃ©rica;
- Fedu: jÃ¡ estÃ¡ na forma numÃ©rica;
- Mjob: at_home = 0, health = 1, services = 2, teacher = 3, other = 4;
- Fjob:  at_home = 0, health = 1, services = 2, teacher = 3, other = 4;
- famsup: no = 0, yes = 1;
- studytime: jÃ¡ estÃ¡ na forma numÃ©rica;
- famreal: jÃ¡ estÃ¡ na forma numÃ©rica;
- absences: jÃ¡ estÃ¡ na forma numÃ©rica;
- G1, G2 e G3: jÃ¡ estÃ¡ na forma numÃ©rica;
- internet: no = 0, yes = 1;

In [86]:
mat.to_csv('clean_db.csv')