In [1]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [2]:
MAT_DIR = '../data/student-mat.csv'

In [3]:
mat_df = pd.read_csv(MAT_DIR, sep=';')

In [4]:
mat = mat_df[['address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'famsup', 'studytime', 'famrel', 'absences', 'internet', 'G1', 'G2', 'G3']]

In [5]:
mat

,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,U,GT3,A,4,4,at_home,teacher,no,2,4,6,no,5,6,6
1,U,GT3,T,1,1,at_home,other,yes,2,5,4,yes,5,5,6
2,U,LE3,T,1,1,at_home,other,no,2,4,10,yes,7,8,10
3,U,GT3,T,4,2,health,services,yes,3,3,2,yes,15,14,15
4,U,GT3,T,3,3,other,other,yes,2,4,4,no,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,U,LE3,A,2,2,services,services,yes,2,5,11,no,9,9,9
391,U,LE3,T,3,1,services,services,no,1,2,3,yes,14,16,16
392,R,GT3,T,1,1,other,other,no,1,5,3,no,10,8,7
393,R,LE3,T,3,2,services,other,no,1,4,0,yes,11,12,10
394,U,LE3,T,1,1,other,at_home,no,1,3,5,yes,8,9,9

In [6]:
mat = mat.replace("U", 0)
mat = mat.replace("R", 1)
mat = mat.replace("GT3", 0)
mat = mat.replace("LE3", 1)
mat = mat.replace("A", 0)
mat = mat.replace("T", 1)
mat = mat.replace("at_home", 0)
mat = mat.replace("health", 0)
mat = mat.replace("services", 0)
mat = mat.replace("teacher", 1)
mat = mat.replace("other", 0)
mat = mat.replace("no", 0)
mat = mat.replace("yes", 1)

In [7]:
labels = ["{0}".format(i) for i in range(0,4)]
mat["G1"] = pd.cut(mat.G1,[0,5,10,15,20], right=True,include_lowest=True, labels=labels)
mat["G2"] = pd.cut(mat.G2,[0,5,10,15,20], right=True,include_lowest=True, labels=labels)
mat["G3"] = pd.cut(mat.G3,[0,5,10,15,20], right=True,include_lowest=True, labels=labels)

In [8]:
mat

,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,0,0,0,4,4,0,1,0,2,4,6,0,0,1,1
1,0,0,1,1,1,0,0,1,2,5,4,1,0,0,1
2,0,1,1,1,1,0,0,0,2,4,10,1,1,1,1
3,0,0,1,4,2,0,0,1,3,3,2,1,2,2,2
4,0,0,1,3,3,0,0,1,2,4,4,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,0,1,0,2,2,0,0,1,2,5,11,0,1,1,1
391,0,1,1,3,1,0,0,0,1,2,3,1,2,3,3
392,1,0,1,1,1,0,0,0,1,5,3,0,1,1,1
393,1,1,1,3,2,0,0,0,1,4,0,1,2,2,1
394,0,1,1,1,1,0,0,0,1,3,5,1,1,1,1

In [9]:
mat.corr()

,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet
address,1.000000,-0.072472,0.042572,-0.138804,-0.072178,-0.033030,-0.010748,-0.023903,0.020912,-0.014258,0.027874,-0.216842
famsize,-0.072472,1.000000,-0.149612,-0.043068,-0.058879,0.067259,-0.072183,-0.112893,-0.073595,-0.022776,0.035783,0.000720
Pstatus,0.042572,-0.149612,1.000000,-0.123565,-0.088730,0.023927,-0.063327,0.019067,0.024294,0.025179,-0.134937,0.070074
Medu,-0.138804,-0.043068,-0.123565,1.000000,0.623455,0.454911,0.259836,0.183727,0.064944,-0.003914,0.100285,0.201463
Fedu,-0.072178,-0.058879,-0.088730,0.623455,1.000000,0.294526,0.347203,0.185496,-0.009175,-0.001370,0.024473,0.127507
Mjob,-0.033030,0.067259,0.023927,0.454911,0.294526,1.000000,0.212309,0.065572,-0.009009,-0.022122,0.001688,0.128292
Fjob,-0.010748,-0.072183,-0.063327,0.259836,0.347203,0.212309,1.000000,0.064417,-0.058225,-0.069204,-0.024964,-0.030037
famsup,-0.023903,-0.112893,0.019067,0.183727,0.185496,0.065572,0.064417,1.000000,0.145228,-0.020436,0.024353,0.103581
studytime,0.020912,-0.073595,0.024294,0.064944,-0.009175,-0.009009,-0.058225,0.145228,1.000000,0.039731,-0.062700,0.059422
famrel,-0.014258,-0.022776,0.025179,-0.003914,-0.001370,-0.022122,-0.069204,-0.020436,0.039731,1.000000,-0.044354,0.032768
absences,0.027874,0.035783,-0.134937,0.100285,0.024473,0.001688,-0.024964,0.024353,-0.062700,-0.044354,1.000000,0.101701
internet,-0.216842,0.000720,0.070074,0.201463,0.127507,0.128292,-0.030037,0.103581,0.059422,0.032768,0.101701,1.000000

Legenda:

- address: U = 0, R = 1;
- famsize: GT3 = 0, LE3 = 1;
- Pstatus: A = 0, T = 1;
- Medu: já está na forma numérica;
- Fedu: já está na forma numérica;
- Mjob: at_home = 0, health = 1, services = 2, teacher = 3, other = 4;
- Fjob:  at_home = 0, health = 1, services = 2, teacher = 3, other = 4;
- famsup: no = 0, yes = 1;
- studytime: já está na forma numérica;
- famreal: já está na forma numérica;
- absences: já está na forma numérica;
- G1, G2 e G3: já está na forma numérica;
- internet: no = 0, yes = 1;

In [10]:
mat.to_csv('clean_db.csv')