In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
# evaluate a logistic regression model using k-fold cross-validation
from numpy import mean
from numpy import std

In [2]:
MAT_DIR = './clean_db.csv'
df = pd.read_csv(MAT_DIR, sep=',')

In [3]:
df

,Unnamed: 0,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,0,0,0,0,4,4,0,1,0,2,4,6,0,0,1,1
1,1,0,0,1,1,1,0,0,1,2,5,4,1,0,0,1
2,2,0,1,1,1,1,0,0,0,2,4,10,1,1,1,1
3,3,0,0,1,4,2,0,0,1,3,3,2,1,2,2,2
4,4,0,0,1,3,3,0,0,1,2,4,4,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,0,1,0,2,2,0,0,1,2,5,11,0,1,1,1
391,391,0,1,1,3,1,0,0,0,1,2,3,1,2,3,3
392,392,1,0,1,1,1,0,0,0,1,5,3,0,1,1,1
393,393,1,1,1,3,2,0,0,0,1,4,0,1,2,2,1
394,394,0,1,1,1,1,0,0,0,1,3,5,1,1,1,1

In [4]:
df.corr()

,Unnamed: 0,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
Unnamed: 0,1.000000,0.224469,0.016317,0.064132,-0.160788,-0.123062,-0.006022,-0.077634,-0.185588,0.048421,-0.016190,0.065966,-0.050290,0.061338,-0.063007,-0.105809
address,0.224469,1.000000,-0.072472,0.042572,-0.138804,-0.072178,-0.033030,-0.010748,-0.023903,0.020912,-0.014258,0.027874,-0.216842,-0.070344,-0.098215,-0.104551
famsize,0.016317,-0.072472,1.000000,-0.149612,-0.043068,-0.058879,0.067259,-0.072183,-0.112893,-0.073595,-0.022776,0.035783,0.000720,0.075199,0.083806,0.077029
Pstatus,0.064132,0.042572,-0.149612,1.000000,-0.123565,-0.088730,0.023927,-0.063327,0.019067,0.024294,0.025179,-0.134937,0.070074,-0.020198,-0.072038,-0.079507
Medu,-0.160788,-0.138804,-0.043068,-0.123565,1.000000,0.623455,0.454911,0.259836,0.183727,0.064944,-0.003914,0.100285,0.201463,0.170044,0.218669,0.206651
Fedu,-0.123062,-0.072178,-0.058879,-0.088730,0.623455,1.000000,0.294526,0.347203,0.185496,-0.009175,-0.001370,0.024473,0.127507,0.165489,0.158422,0.157953
Mjob,-0.006022,-0.033030,0.067259,0.023927,0.454911,0.294526,1.000000,0.212309,0.065572,-0.009009,-0.022122,0.001688,0.128292,0.047195,0.043885,0.044866
Fjob,-0.077634,-0.010748,-0.072183,-0.063327,0.259836,0.347203,0.212309,1.000000,0.064417,-0.058225,-0.069204,-0.024964,-0.030037,0.163136,0.139701,0.130110
famsup,-0.185588,-0.023903,-0.112893,0.019067,0.183727,0.185496,0.065572,0.064417,1.000000,0.145228,-0.020436,0.024353,0.103581,-0.098737,-0.040300,-0.021155
studytime,0.048421,0.020912,-0.073595,0.024294,0.064944,-0.009175,-0.009009,-0.058225,0.145228,1.000000,0.039731,-0.062700,0.059422,0.114695,0.119371,0.108751
famrel,-0.016190,-0.014258,-0.022776,0.025179,-0.003914,-0.001370,-0.022122,-0.069204,-0.020436,0.039731,1.000000,-0.044354,0.032768,-0.003887,-0.039439,0.031782
absences,0.065966,0.027874,0.035783,-0.134937,0.100285,0.024473,0.001688,-0.024964,0.024353,-0.062700,-0.044354,1.000000,0.101701,-0.034170,-0.040821,0.005778
internet,-0.050290,-0.216842,0.000720,0.070074,0.201463,0.127507,0.128292,-0.030037,0.103581,0.059422,0.032768,0.101701,1.000000,0.068497,0.095726,0.097711
G1,0.061338,-0.070344,0.075199,-0.020198,0.170044,0.165489,0.047195,0.163136,-0.098737,0.114695,-0.003887,-0.034170,0.068497,1.000000,0.793121,0.759866
G2,-0.063007,-0.098215,0.083806,-0.072038,0.218669,0.158422,0.043885,0.139701,-0.040300,0.119371,-0.039439,-0.040821,0.095726,0.793121,1.000000,0.874494
G3,-0.105809,-0.104551,0.077029,-0.079507,0.206651,0.157953,0.044866,0.130110,-0.021155,0.108751,0.031782,0.005778,0.097711,0.759866,0.874494,1.000000

Criando um modelo para com os parâmetros selecionados

In [5]:
X = df[['address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'famsup', 'studytime', 'famrel', 'absences', 'internet']]
Y1 = df['G1']
Y2 = df['G2']
Y3 = df['G3']

In [6]:
#X_train, X_test, Y1_train, Y1_test = train_test_split(X, Y1, random_state=42, test_size=0.3)
kf = KFold(n_splits=17, random_state=42, shuffle=True)

In [7]:
model1 = GaussianNB()
model2 = GaussianNB()
model3 = GaussianNB()

In [8]:
scores1 = cross_val_score(model1, X, Y1, scoring='accuracy', cv=kf)
print('Accuracy: %.3f (%.3f)' % (mean(scores1), std(scores1)))

Accuracy: 0.117 (0.066)

In [9]:
scores2 = cross_val_score(model2, X, Y2, scoring='accuracy', cv=kf)
print('Accuracy: %.3f (%.3f)' % (mean(scores2), std(scores2)))

Accuracy: 0.435 (0.104)

In [10]:
scores3 = cross_val_score(model3, X, Y3, scoring='accuracy', cv=kf)
print('Accuracy: %.3f (%.3f)' % (mean(scores3), std(scores3)))

Accuracy: 0.397 (0.095)

Removendo as colunas referentes à profissão dos pais.

In [11]:
X_new = df[['address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'famsup', 'studytime', 'famrel', 'absences', 'internet']]

In [12]:
model1_new = GaussianNB()
model2_new = GaussianNB()
model3_new = GaussianNB()

In [13]:
scores1_new = cross_val_score(model1_new, X_new, Y1, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores1_new), std(scores1_new)))

Accuracy: 0.501 +/- 0.121

In [14]:
scores2_new = cross_val_score(model2_new, X_new, Y2, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores2_new), std(scores2_new)))

Accuracy: 0.431 +/- 0.094

In [15]:
scores3_new = cross_val_score(model3_new, X_new, Y3, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores3_new), std(scores3_new)))

Accuracy: 0.393 +/- 0.109

Removendo as colunas referentes à educação dos pais

In [16]:
X_new2 = df[['address', 'famsize', 'Pstatus', 'famsup', 'studytime', 'famrel', 'absences', 'internet']]
model1_new2 = GaussianNB()
model2_new2 = GaussianNB()
model3_new2 = GaussianNB()

In [17]:
scores1_new2 = cross_val_score(model1_new2, X_new2, Y1, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores1_new2), std(scores1_new2)))

Accuracy: 0.448 +/- 0.094

In [18]:
scores2_new2 = cross_val_score(model2_new2, X_new2, Y2, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores2_new2), std(scores2_new2)))

Accuracy: 0.419 +/- 0.091

In [19]:
scores3_new2 = cross_val_score(model3_new2, X_new2, Y3, scoring='accuracy', cv=kf)
print('Accuracy: %.3f +/- %.3f' % (mean(scores3_new2), std(scores3_new2)))

Accuracy: 0.398 +/- 0.104

In [20]:
print('Accuracy normal: %.3f +/- %.3f' % (mean(scores1_new), std(scores1_new)))
print('Accuracy s/ profissão: %.3f +/- %.3f' % (mean(scores1_new), std(scores1_new)))
print('Accuracy s/ educação: %.3f +/- %.3f' % (mean(scores1_new2), std(scores1_new2)))

Accuracy: 0.501 +/- 0.121
Accuracy: 0.501 +/- 0.121
Accuracy: 0.448 +/- 0.094

In [21]:
print('Accuracy normal: %.3f +/- %.3f' % (mean(scores1), std(scores1)))
print('Accuracy s/ profissão: %.3f +/- %.3f' % (mean(scores1_new), std(scores1_new)))
print('Accuracy s/ educação: %.3f +/- %.3f' % (mean(scores1_new2), std(scores1_new2)))

Accuracy normal: 0.117 +/- 0.066
Accuracy s/ profissão: 0.501 +/- 0.121
Accuracy s/ educação: 0.448 +/- 0.094

In [22]:
print('Accuracy normal: %.3f +/- %.3f' % (mean(scores2), std(scores2)))
print('Accuracy s/ profissão: %.3f +/- %.3f' % (mean(scores2_new), std(scores2_new)))
print('Accuracy s/ educação: %.3f +/- %.3f' % (mean(scores2_new2), std(scores2_new2)))

Accuracy normal: 0.435 +/- 0.104
Accuracy s/ profissão: 0.431 +/- 0.094
Accuracy s/ educação: 0.419 +/- 0.091

In [23]:
print('Accuracy normal: %.3f +/- %.3f' % (mean(scores3), std(scores3)))
print('Accuracy s/ profissão: %.3f +/- %.3f' % (mean(scores3_new), std(scores3_new)))
print('Accuracy s/ educação: %.3f +/- %.3f' % (mean(scores3_new2), std(scores3_new2)))

Accuracy normal: 0.397 +/- 0.095
Accuracy s/ profissão: 0.393 +/- 0.109
Accuracy s/ educação: 0.398 +/- 0.104