In [146]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold 
from sklearn.model_selection import cross_val_score
# evaluate a logistic regression model using k-fold cross-validation
from numpy import mean
from numpy import std

In [147]:
MAT_DIR = './clean_db.csv'
df = pd.read_csv(MAT_DIR, sep=',')

In [148]:
df

,Unnamed: 0,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
0,0,0,0,0,4,4,0,3,0,2,4,6,0,0,1,1
1,1,0,0,1,1,1,0,4,1,2,5,4,1,0,0,1
2,2,0,1,1,1,1,0,4,0,2,4,10,1,1,1,1
3,3,0,0,1,4,2,1,2,1,3,3,2,1,2,2,2
4,4,0,0,1,3,3,4,4,1,2,4,4,0,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,0,1,0,2,2,2,2,1,2,5,11,0,1,1,1
391,391,0,1,1,3,1,2,2,0,1,2,3,1,2,3,3
392,392,1,0,1,1,1,4,4,0,1,5,3,0,1,1,1
393,393,1,1,1,3,2,2,4,0,1,4,0,1,2,2,1
394,394,0,1,1,1,1,4,0,0,1,3,5,1,1,1,1

In [149]:
df.corr()

,Unnamed: 0,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,famsup,studytime,famrel,absences,internet,G1,G2,G3
Unnamed: 0,1.000000,0.224469,0.016317,0.064132,-0.160788,-0.123062,-0.032134,-0.040080,-0.185588,0.048421,-0.016190,0.065966,-0.050290,0.061338,-0.063007,-0.105809
address,0.224469,1.000000,-0.072472,0.042572,-0.138804,-0.072178,-0.042186,0.059119,-0.023903,0.020912,-0.014258,0.027874,-0.216842,-0.070344,-0.098215,-0.104551
famsize,0.016317,-0.072472,1.000000,-0.149612,-0.043068,-0.058879,-0.012772,-0.027146,-0.112893,-0.073595,-0.022776,0.035783,0.000720,0.075199,0.083806,0.077029
Pstatus,0.064132,0.042572,-0.149612,1.000000,-0.123565,-0.088730,-0.049418,0.000260,0.019067,0.024294,0.025179,-0.134937,0.070074,-0.020198,-0.072038,-0.079507
Medu,-0.160788,-0.138804,-0.043068,-0.123565,1.000000,0.623455,0.104160,-0.021968,0.183727,0.064944,-0.003914,0.100285,0.201463,0.170044,0.218669,0.206651
Fedu,-0.123062,-0.072178,-0.058879,-0.088730,0.623455,1.000000,-0.004977,-0.148466,0.185496,-0.009175,-0.001370,0.024473,0.127507,0.165489,0.158422,0.157953
Mjob,-0.032134,-0.042186,-0.012772,-0.049418,0.104160,-0.004977,1.000000,0.182144,-0.069929,-0.020477,0.036634,0.064604,0.097185,-0.071652,-0.017799,0.015839
Fjob,-0.040080,0.059119,-0.027146,0.000260,-0.021968,-0.148466,0.182144,1.000000,-0.026281,-0.078171,0.019968,0.020108,-0.057859,-0.059200,-0.061921,-0.030644
famsup,-0.185588,-0.023903,-0.112893,0.019067,0.183727,0.185496,-0.069929,-0.026281,1.000000,0.145228,-0.020436,0.024353,0.103581,-0.098737,-0.040300,-0.021155
studytime,0.048421,0.020912,-0.073595,0.024294,0.064944,-0.009175,-0.020477,-0.078171,0.145228,1.000000,0.039731,-0.062700,0.059422,0.114695,0.119371,0.108751
famrel,-0.016190,-0.014258,-0.022776,0.025179,-0.003914,-0.001370,0.036634,0.019968,-0.020436,0.039731,1.000000,-0.044354,0.032768,-0.003887,-0.039439,0.031782
absences,0.065966,0.027874,0.035783,-0.134937,0.100285,0.024473,0.064604,0.020108,0.024353,-0.062700,-0.044354,1.000000,0.101701,-0.034170,-0.040821,0.005778
internet,-0.050290,-0.216842,0.000720,0.070074,0.201463,0.127507,0.097185,-0.057859,0.103581,0.059422,0.032768,0.101701,1.000000,0.068497,0.095726,0.097711
G1,0.061338,-0.070344,0.075199,-0.020198,0.170044,0.165489,-0.071652,-0.059200,-0.098737,0.114695,-0.003887,-0.034170,0.068497,1.000000,0.793121,0.759866
G2,-0.063007,-0.098215,0.083806,-0.072038,0.218669,0.158422,-0.017799,-0.061921,-0.040300,0.119371,-0.039439,-0.040821,0.095726,0.793121,1.000000,0.874494
G3,-0.105809,-0.104551,0.077029,-0.079507,0.206651,0.157953,0.015839,-0.030644,-0.021155,0.108751,0.031782,0.005778,0.097711,0.759866,0.874494,1.000000

In [150]:
X = df[['address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'famsup', 'studytime', 'famrel', 'absences', 'internet']]
Y1 = df['G1']
Y2 = df['G2']
Y3 = df['G3']

In [151]:
#X_train, X_test, Y1_train, Y1_test = train_test_split(X, Y1, random_state=42, test_size=0.3)
kf = KFold(n_splits=15, random_state=42, shuffle=True)

In [152]:
model1 = GaussianNB()

In [153]:
scores = cross_val_score(model1, X, Y1, scoring='accuracy', cv=kf)

In [154]:
print('Accuracy: %.3f (%.3f)' % (mean(scores), std(scores)))

Accuracy: 0.484 (0.093)

In [155]:
#model1.fit(X_train, Y1_train)

In [156]:
#Y_pred1 = model1.predict(X_test)

In [157]:
#model1.class_prior_

In [158]:
#acc1 = accuracy_score(Y1_test, Y_pred1)

In [159]:
#acc1